* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    
}


/* VIDEO */

video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    filter: brightness(0.5);
    
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    
}

/* CONTEÚDO */

h1 {
    font-size: 3rem;
}

#scroll-icon {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
}

#scroll-mobile {
    display: none;
}

a {
    text-decoration: none;
    
}

i.bi {
    color: #455953;
    
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    

}

.content h1 {
    font-size: 4rem;
    
}

.content p {
    font-size: 2rem;
    font-weight: 300;
    
}





/* SOCIALS */

#socials button {
   border-radius: 0;
   border: none;
   font-size: 1.5rem;
   padding: 1rem;
   transition: 0.2s ease;
}

#whatsapp {
    background-color: #24CC63;   
}

#whatsapp:hover{
    background-color: #1daa53; 
}

#linkedin {
    background-color: #094b8e;
}

#linkedin:hover {
    background-color: #063768;
}

#github {
    background-color: #222222;
}

#github:hover {
    background-color: #000000;
}

/* RESPONSIVIDADE */



@media (max-width: 600px) {
    .txt-reduce {
        font-size: 2.5rem;
    }

    #socials button {
        padding: 1rem;
        font-size: 1.2rem;
    }

    #socials button i {
        display: block;
    }

    #scroll-desktop {
        display: none;
    }

    #scroll-mobile {
        display: block;
    }


}